[Unit]
Description=weather service unit file.

[Service]
Type=exec
ExecStart=/home/vagrant/bin/motd
WorkingDirectory=/home/vagrant/bin

[Install]
WantedBy=multi-user.target
